* {
  box-sizing: border-box;
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 10px;
}

#navLogo {
  max-height: 40px;
  position: relative;
  left: 259px;
}

ul {
  list-style: none;
  display: flex;
  /* Use flexbox to position the navigation elements */
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
  left: 550px;
}

li {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
}

a:hover {
  background-color: #f4ce14;
}

/* Media Query for Responsive Layout */
@media screen and (max-width: 768px) {
  /* Adjust the layout for small screens */
  .nav {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #navLogo {
    left: 0;
    margin-bottom: 10px;
  }

  ul {
    left: 0;
    display: block;
  }

  li {
    margin-bottom: 10px;
  }
}